/* Variables Globales de la página web...*/
:root{
    --fuente-principal: "Zalando Sans SemiExpanded", sans-serif;
    /* Colores principales de la página de muestra */
    --rojo: rgba(157, 3, 0);
    --negro: rgba(13, 12, 10);
    --amarillo: rgba(255, 173, 1);
    --blanco: rgba(246, 242, 239);
    --alert: rgba(255, 0, 0);
    --negroAzulado: rgba(22, 26, 53);
}
html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px */
}

*, *:before, *:after {
  box-sizing: inherit;
}
body{
    font-family: var(--fuente-principal);
    background-color: var(--negro);
}
h1{
    font-size: 4rem;
    color: var(--blanco);
}
h2{
    font-size: 3rem;
    color: var(--blanco);
}
h3{
    font-size: 2rem;
    color: var(--blanco);
}
p{
    font-size: 1.5rem;
    color: var(--blanco);
}
/*Fin de las variables globales*/

/*Variables y cambios del estilo de la página Categorias*/
.contenedor{
    background-color: var(--rojo);
    padding: 3rem 1.5rem;
    display: grid;
    justify-content: center;
    margin-bottom: 2rem;
}
.header{
    font-weight: 700;
    text-align: center;
    margin-bottom: 1.4rem;
}
.header-contenido{
    color: var(--amarillo);
    font-size: 1.8rem;   
}
 .header-contenido span{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2rem;
 }
/*Fin de los cambios del header*/
/*Variables para la sección de la oferta*/
.oferta{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.7rem;
    color: var(--alert);
    margin: 2rem;
}

/*Variables para las secciones y el contenido*/
.contenido-seccion{
    text-align: center;
}
.oferta-contenido{
    word-spacing: 0.5rem;
    padding: 1rem 0;
}