@import url('estilos.css');
h1 {
    color:var(--rojo);

}
.logo{
    text-align: center;
    margin-top: 400px;
    margin-bottom: 400px;
}
.logo img{
    width: 800%;
    height: auto;
    bottom: 500%;
    

}
header p {
    font-size: 1.2em;
    color: var(--blanco);
    margin-top: 10px;  
}
body{
    background-color: var(--negro);    
    font-family: var(--fuente-principal);
    margin: 0;
    padding: 0;
    text-align: center;
    border-radius: 4%;
    


}
.menu button{
    background-color: var(--rojo);
    color: var(--blanco);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
}
.menu button:hover{
    background-color: var(--rojo-oscuro);
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px;
}
nav ul li a {
    text-decoration: none;
    color: var(--blanco);
    font-weight: bold;
    text-align: center;
    
}footer{
    background-color: blanco;
    padding-bottom: 0%;
    text-align: center;
    
    
}
